
<form method="post" action="add">
  <p>
    <label>开始时间</label> <input type="date"  name="start_date" oninput=""/>    
  </p>
  <p>
    <label>截止时间</label> <input type="date" name="end_date" oninput=""/>  
  </p>
  
  <p>
    <button>开始统计</button>
  </p>
</form>
  <head>
      <title> A demo</title>
      <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>
  <body>
   <header>
     <h1>Title</h1>
   </header>
   <main>
     <p class="hello">Hello World pip!</p>
   </main>
   <script type="text/javascript" src="static/js/app/hello.js"></script>
  </body>